<%= form_with(model: doadore, local: true) do |form| %>
  <% if doadore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doadore.errors.count, "error") %> prohibited this doadore from being saved:</h2>

      <ul>
      <% doadore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :doadore_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :doadore_email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, id: :doadore_telefone %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo, id: :doadore_tipo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
